@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0.75; }
	100% { opacity: 1; }
}

@keyframes pulse-circle-brand {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba($color-brand, 0.7);
    }
    
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 20px rgba($color-brand, 0);
    }
    
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba($color-brand, 0);
    }
}

@keyframes pulse-circle-brand-slideshow {
    0% {
        box-shadow: 0 0 0 0 rgba($color-brand, 0.7);
    }
    
    70% {
        box-shadow: 0 0 0 10px rgba($color-brand, 0);
    }
    
    100% {
        box-shadow: 0 0 0 0 rgba($color-brand, 0);
    }
}
